$headers-background-colors-support-parser: (
    color: 'background-inner-color'
) !default;

$headers-background-colors-support-extra-colors-palette: () !default;
$headers-background-colors-support-skip-colors-palette: null !default;
